Source: sd-agnostics
Section: utils
Priority: optional
Maintainer: Filipe Utzig <filipe@gringolito.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.1
Homepage: https://github.com/gringolito/sd-agnostics
Vcs-Git: git://git@github.com:gringolito/sd-agnostics.git
Vcs-Browser: https://github.com/gringolito/sd-agnostics
Rules-Requires-Root: no

Package: sd-agnostics
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, fio
Description: SD Card Diagnostics
 SD Card diagnostics tool for testing Application Class SD Card performance
